@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #DFDCD5;
  --color-white: #FFFFFF;
  --font-body: "Nunito Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  color: var(--color-primary);
  background-color: var(--color-white);
  margin: 0;
}
